:root {
  --main-bg-color: #235e3d;
}
body {
  background: url("/ProyectoJS/img/hojas.jpg"); /*Imagen de Fondo*/
  background-attachment: fixed; /*La imagen se queda fija*/
}

.logo {
  background: var(--main-bg-color);
}

.navbar ul li:hover {
  background: var(--main-bg-color);
}

.boton-more {
  background: var(--main-bg-color);
}
