:root {
  --main-bg-color: #ca3413;
}

body {
  background: url("/ProyectoJS/img/rojo.jpg"); /*Imagen de Fondo*/
  background-attachment: fixed; /*La imagen se queda fija*/
}

.logo {
  background: var(--main-bg-color);
}

.navbar ul li:hover {
  background: var(--main-bg-color);
}

.boton-more {
  background: var(--main-bg-color);
}
